<div class="options">
  <h3>Selecione um tipo de solo:</h3>
  <div class="col ground-1" [ngClass]="{'selected' : selected == 1}" (click)="select(1)">
    
  </div>
  <div class="col ground-2" [ngClass]="{'selected' : selected == 2}" (click)="select(2)">

  </div>
  <div class="col ground-3" [ngClass]="{'selected' : selected == 3}" (click)="select(3)">

  </div>
</div>
<div class="image-selector">
  <h3>Ou uma imagem para o solo:</h3>
  <mat-form-field>
    <input matInput placeholder="Image URL" [(ngModel)]="imageUrl" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</div>

<div class="btn-area">
    <button mat-raised-button class="delete-btn" color="warn" (click)="exit(false)">
      <i class="material-icons">cancel</i> Cancelar
    </button>
    <button mat-raised-button class="edit-btn" color="primary" (click)="exit(true)">
      <i class="material-icons">check</i> Confirmar
    </button>
</div>