.folio {
    height: calc(100vh - 130px);
    width: 100%;
}


#edit-background-btn{
    top: 85px;
    margin: 20px;
    position: absolute;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(black,.15);
    margin: 25px;
    margin-top: 0;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(black,.15);
    margin: 25px;
}

#ground {
    background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
#8a3;
    background-size: 20px 20px;
    height: 55px;
    position: relative;
    .edit-btn {
        float: right;
        display: inline;
        margin: 5px;
        margin-right: 20px;
        color: white;
    }
    app-pet {
        display: inline;
    }
}

.text-boxes {
    width: 100%;
    .comands{
        display: flex;
        justify-items: center;
        max-width: 100%;
        height: 60px;
        mat-paginator {
            font-size: 10px;
            background-color: transparent;
            width: 30%;
            height: auto;
            margin-left: 30%;
        }
        button {
            margin-left: 10px;
        }
    }
    
    div {
        width: 80%;
        height: 10vh;
        margin-left: 10%;
        margin-right: 10%;
        border: 3px solid transparent;
        span {
            margin: 10px;
        }
    }
}
