<section class="folio">
    <button mat-mini-fab id="edit-background-btn" color="primary" matTooltip="Editar Fundo" matTooltipPosition="right" (click)="editBackground()">
      <mat-icon>edit</mat-icon>
    </button>
  <h1>User</h1>
  <div class="images">
    <h2>Images</h2>
    <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
  </div>
  <div class="text-boxes">
      <h2>Texts</h2>
      <mat-paginator [length]="texts.length"
          pageSize="1"
          (page)="pageEvent = $event">
      </mat-paginator>
      <div
        [style.backgroundColor]="texts[pageEvent ? pageEvent.pageIndex : 0]['background-color']"
        [style.border-color]="texts[pageEvent ? pageEvent.pageIndex : 0]['border-color']"
        [style.font-size]="texts[pageEvent ? pageEvent.pageIndex : 0]['font-size']"
        [style.color]="texts[pageEvent ? pageEvent.pageIndex : 0]['text-color']"
      >
        <span>{{ texts[pageEvent ? pageEvent.pageIndex : 0].text }}</span>
    </div>
  </div>
</section>
<footer id="ground">
  <app-pet></app-pet>
  <button mat-mini-fab class="edit-btn" color="primary" matTooltip="Editar chão" matTooltipPosition="left" (click)="editGround()">
    <mat-icon>edit</mat-icon>
  </button>
</footer>