<section class="folio">
    <button  *ngIf="isAuthenticated"mat-mini-fab id="edit-background-btn" color="primary" matTooltip="Editar Fundo" matTooltipPosition="right" (click)="editBackground()">
      <mat-icon>edit</mat-icon>
    </button>
  <h1>User: {{userName}}</h1>
  <div class="images">
    <h2>Images</h2>
    <button  *ngIf="isAuthenticated"(click)="editMedia($event)" id="edit-img-btn" mat-mini-fab color="primary" matTooltip="Editar Image ou Vídeo" matTooltipPosition="right">
      <mat-icon>edit</mat-icon>
    </button>
    <button  *ngIf="isAuthenticated"(click)="createMedia()" id="create-img-btn" mat-mini-fab color="primary" matTooltip="Adicionar nova Image ou Vídeo" matTooltipPosition="right">
      <mat-icon>add</mat-icon>
    </button>
    <button  *ngIf="isAuthenticated"(click)="deleteMedia()" id="delete-img-btn" mat-mini-fab  color="primary" matTooltip="Deletar Image ou Vídeo" matTooltipPosition="right">
      <mat-icon>delete</mat-icon>
    </button>
    <ng-image-slider (arrowClick)="switchImage($event)" (lightboxArrowClick)="switchImage($event)" [images]="medias" [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}" #nav></ng-image-slider>
  </div>
  <div class="text-boxes">
      <h2>Texts</h2>
      <div class="comands">
        <button  *ngIf="isAuthenticated"(click)="editText()" mat-mini-fab color="primary" matTooltip="Editar Texto" matTooltipPosition="right">
          <mat-icon>edit</mat-icon>
        </button>
        <button  *ngIf="isAuthenticated"(click)="createText()" mat-mini-fab color="primary" matTooltip="Adicionar novo Texto" matTooltipPosition="right">
          <mat-icon>add</mat-icon>
        </button>
        <button  *ngIf="isAuthenticated"(click)="deleteText()" mat-mini-fab  color="primary" matTooltip="Deletar Texto" matTooltipPosition="right">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-paginator [length]="texts.length"
            pageSize="1"
            (page)="pageEvent = $event">
        </mat-paginator>
      </div>
          <div *ngIf="texts.length"
          [style.backgroundColor]="texts[pageEvent ? pageEvent.pageIndex : 0]['background-color']"
          [style.border-color]="texts[pageEvent ? pageEvent.pageIndex : 0]['border-color']"
          [style.font-size]="texts[pageEvent ? pageEvent.pageIndex : 0]['font-size']"
          [style.color]="texts[pageEvent ? pageEvent.pageIndex : 0]['text-color']"
        >
          <span>{{ texts[pageEvent ? pageEvent.pageIndex : 0].text }}</span>
      </div> 
  </div>
</section>
<footer id="ground">
  <app-pet></app-pet>
  <button  *ngIf="isAuthenticated"mat-mini-fab class="edit-btn" color="primary" matTooltip="Editar chão" matTooltipPosition="left" (click)="editGround()">
    <mat-icon>edit</mat-icon>
  </button>
  <img (click)="openBoard()" src="https://github.com/fegemo/cefet-web/raw/master/assignments/project-craftfoliogotchi/images/sign-plaque.png">
</footer>