<section>
  <div class="search">
    <h3>Bem vindo, ao CraftFolioGotchi, um lugar onde você compartilhar informações e ter seu pet.</h3>
    <mat-form-field (keyup.enter)="goToSearch()">
      <input matInput placeholder="Buscar amigo" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="btn-area">
      <button mat-raised-button class="delete-btn" color="primary" (click)="goToLogin()">
        <i class="material-icons">vpn_key</i> Login
      </button>
      <button mat-raised-button class="edit-btn" color="primary" (click)="goToSignUp()">
        <i class="material-icons">input</i> Cadastro
      </button>
  </div>
</section>
<div id="triangle-bottomright">

</div>